<h1> Registration </h3>
<br>
<div class="card">
<form action="/users/register" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="username" id="username" name="username" class="form-input" placeholder="Enter Username" value="" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-input" placeholder="Enter Email" value="" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-input" placeholder="Create Password" minlength="6" />
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" id="password2" name="password2" class="form-input" placeholder="Confirm Password"
            minlength="6" />
    </div>
    <button type="submit">Submit</button>
</form>
<p>Already Have An Account? <a href="/users/login">Login</a></p>
</div>