<div class="card">
    <h3>Dashboard Monitoring Login</h3>
    <p>Create an account or sign back in</p>
    <a href="/views/register.ejs"><button>Register</button></a>
    <a href="/views/login.ejs"><button>Login</button></a>
</div>

